/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ==========================================================
  End of css reset
  ==========================================================
*/



body{
    background-color: #282828 ;
    max-width: 960px;
    min-width: 500px;
    margin: 0;
}
/*.container{*/
    /*border: 2px solid black;*/
/*}*/


/*
  ==========================================================
  Sidebar
  ==========================================================
*/

.sidebar{
    background-color: #202020;
    width: 250px;
    height: 800px;
    float: left;
}


/*
  ==========================================================
  Main content
  ==========================================================
*/

.main-content{

}


.main-content-title{
    color: #f39c12;
    font-size: 40px;
    line-height: 25px;
    margin-top: 10px;
}

.main-content-title>span{
    color: #fff;
    font-size: 20px;
}

.my-intro{
    margin-top: 20px;
}

.my-pic{
    float: left;
    border-right: 20px solid transparent;

}

.content{
   position: relative;
    left: 50px;
}


/*
  ==========================================================
  Skills
  ==========================================================
*/


.skills{
    margin-top: 80px;
}

.clear{
    clear: both;
}



