/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
  ==========================================================
  End of css reset
  ==========================================================
*/

h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
}

.container{
    display: flex;
    max-width: 1200px;
    border: 5px solid greenyellow;
    font-family: 'Open Sans Condensed', sans-serif;


}

body {
    background-color: #282828;
    margin: 0;
    animation: fadeIn 2s ease;
    transform: translateX(0px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /*transform: translate(-2000px);*/
    }
    to {
        opacity: 1;
        /*transform: translate(0px);*/
    }
}


/*
  ==========================================================
  Sidebar
  ==========================================================
*/

.sidebar-container{
    /*border: 5px solid red;*/
    flex: 0 0 250px;
    letter-spacing: 1px;
    height: 600px;
    display: flex;


}

.sidebar {
    background-color: #202020;
    /*width: 250px;*/
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    flex-grow: 1;
}

.sidebar-item {
    position: relative;
    left: 10px;
    color: #fff;
    transition: color 0.6s ease-in-out;
}

.sidebar-item:hover {
    color: #f39c12;
    cursor: pointer;
}

.sidebar a {
    text-decoration: none;
}

.sidebar>p {
    top: 50px;
}

.active-about-me, .active-contact-me, .active-portfolio {
    color: #f39c12;
}

.tweet {
    margin-top: 40px;
    position: relative;
    left: -5px;
}

.tweet h3{
    padding-left: 30px;
    position: relative;
}

.tweet-icon{
    padding-left: 10px;
    position: absolute;
    top: -5px;
    left: 0px;
}

.personal-info {
    margin-top: 120px;
    line-height: 30px;
    position: relative;
    left: 10px;
}

.copyright {
    margin-top: 100px;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    color: white;
    position: relative;
    left: 20px;
}

.copyright:hover {
    .cursor: auto;
}

.copyright p>a {
    /*color: white;*/
    text-decoration: none;
    color: #f39c12;
    transition: color 0.6s ease;
}

.copyright p>a:hover {
    cursor: pointer;
    color: #f39c12;
}

.fa-heart {
    color: #f39c12;
}


/*
  ==========================================================
  Main content
  ==========================================================
*/

.main-content {
    /*border: 5px solid deeppink;*/
    padding: 0px 30px;
    /*flex: 1 1 300px;*/
    width: 1200px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;

}

.main-content-title {
    color: #f39c12;
    font-size: 40px;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    line-height: 40px;
}

.main-content-title>span {
    color: #fff;
    font-size: 20px;
}

.my-intro {
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;

}

.my-intro>div {
    cursor: pointer;
    perspective: 500px;
    height: 184px;
}

.my-pic {
    position: absolute;
    transform: rotateY(0deg);
    border-radius: 7px;
    transition: transform 1s ease-in-out;
    backface-visibility: hidden;

}

.my-pic-back {
    height: 184px;
    width: 125px;
    border-radius: 7px;
    /*background-color: white;*/
    transition: transform 1s ease-in-out;
    transform: rotateY(180deg);
    border: 2px solid #202020;
    ;
}

.my-intro>div:hover .my-pic {
    transform: rotateY(-180deg);
}

.my-intro>div:hover .my-pic-back {
    transform: rotateY(0deg);
}


.introduction {
    position: relative;
    left: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.quote {
    position: relative;
    top: 50px;
    color: #f39c12;
    text-transform: uppercase;
}


/*
  ==========================================================
  Skills  TODO: Better organise | no repetition
  ==========================================================
*/

.skills-container {
    margin-top: 100px;
    color: white;
    display: flex;
    letter-spacing: 1px;
    display-direction: row;
}

.skills-title {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;

}

.core-skills-container .other-skills-container {
    width: 400px;
}

.other-skills-container {
    margin-left: 100px;
}

.skill-container-html,
.skill-container-css,
.skill-container-javascript,
.skill-container-photoshop,
.skill-container-git,
.skill-container-nodejs,
.skill-container-mongodb,
.skill-container-react{
    width: 260px;
    background-color: #202020;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.skill-percentage-number{
    line-height: 15px;
    width: 150px;
    margin-left: 10px;
}

.skill-text{
    padding: 10px;
}

.skill-percentage-html {
    background-color: #f39c12;
    font-size: 14px;
    width: 235px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

/*.skill-percentage-html>p {*/
    /*line-height: 35px;*/
    /*width: 150px;*/
    /*margin-left: 10px;*/
/*}*/

.skill-container-html>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -10px;
    top: 15px;
    font-size: 10px;
}

.skill-percentage-css{
    background-color: #f39c12;
    font-size: 14px;
    width: 220px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-css>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-css>p {*/
    /*line-height: 35px;*/
    /*width: 150px;*/
    /*margin-left: 10px;*/
/*}*/


.skill-percentage-javascript{
    background-color: #f39c12;
    width: 190px;
    font-size: 14px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-javascript>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-javascript>p {*/
    /*font-size: 14px;*/
    /*line-height: 35px;*/
    /*width: 150px;*/
    /*margin-left: 10px;*/
/*}*/


.skill-percentage-photoshop{
    background-color: #f39c12;
    width: 180px;
    font-size: 14px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-photoshop>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-photoshop>p {*/
    /*line-height: 35px;*/
    /*width: 120px;*/
    /*margin-left: 10px;*/
/*}*/


.skill-percentage-git{
    background-color: #f39c12;
    font-size: 14px;
    width: 200px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-git>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-git>p {*/
    /*line-height: 35px;*/
    /*width: 120px;*/
    /*margin-left: 10px;*/
/*}*/


.skill-percentage-nodejs{
    background-color: #f39c12;
    font-size: 14px;
    width: 180px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-nodejs>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-nodejs>p {*/
    /*line-height: 35px;*/
    /*width: 120px;*/
    /*margin-left: 10px;*/
/*}*/



.skill-percentage-mongodb{
    background-color: #f39c12;
    font-size: 14px;
    width: 160px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-mongodb>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-mongodb>p {*/
    /*line-height: 35px;*/
    /*width: 120px;*/
    /*margin-left: 10px;*/
/*}*/






.skill-percentage-react{
    background-color: #f39c12;
    font-size: 14px;
    width: 165px;
    height: 36px;
    border-radius: 5px;
    color: #282828;
    position: absolute;
    top: 2px;
    left: 2px;
}

.skill-container-react>p {
    color: white;
    width: 30px;
    position: absolute;
    right: -5px;
    top: 15px;
    font-size: 10px;
}

/*.skill-percentage-react>p {*/
    /*line-height: 35px;*/
    /*width: 120px;*/
    /*margin-left: 10px;*/
/*}*/



















.fa-bars{
    /*opacity: 0;*/
    display: block;
    transform: translateX(-200px);

}


/*
  ==========================================================
  Media Queries ABOUT ME PAGE
  ==========================================================
*/

@media screen and (max-width: 800px) {
    .sidebar-container{
        display: none;
    }

    .main-content{
        margin: 40px 0;
    }

    .fa-bars{
        /*opacity: 0;*/
        display: block;
        transform: translateX(10px);
        margin-top: 10px;
        font-size: 100px;
        cursor: pointer;

    }

}



/*
  ==========================================================
  PORTFOLIO PAGE
  ==========================================================
*/

.portfolio-container{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    /*border: 2px solid green;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

.portfolio-item{
    flex: 1 1 30%;
    border: 2px solid rebeccapurple;
}



/*
  ==========================================================
  CONTACT PAGE
  ==========================================================
*/


main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
}

main h1{
    margin-bottom: 30px;
    color: #f39c12;
    font-size: 40px;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    line-height: 40px;
}

main h1 span{
    color: #ffffff;
    font-size: 35px;
}

main h1, main h1 span{
    letter-spacing: 1.2px;
}


main>p {
    margin-bottom: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 45%;
    /*border: 2px solid darkgreen;*/
    overflow: hidden;

}

form>div{
    margin-bottom: 10px;
    position: relative;
    padding: 5px;
    height: 20px;
}

.phone{
    margin-bottom: -5px;
}

.your-name{
    /*border: 1px solid #202020;*/
}

.your-name input, .email input, .phone input{
    background-color: #202020;
    border: 1px solid #202020;
    padding-left: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 14px;
    outline-color: #f39c12;

}

.icon{
    position: absolute;
    top: 7px;
    left: 5px;
}

form textarea{
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    border: 2px solid #202020;
    background-color: #202020;
    color: white;
    font-size: 16px;
    outline-color: #f39c12;
}

form>input:nth-last-child(1){
    width: 100px;
    background-color: #f39c12;
    border: 2px solid #f39c12;
    cursor: pointer;

}




