/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ==========================================================
  End of css reset
  ==========================================================
*/



body{
    background-color: #282828 ;
    max-width: 960px;
    min-width: 960px;
    margin: 0;
}
/*.container{*/
    /*border: 2px solid black;*/
/*}*/


/*
  ==========================================================
  Sidebar
  ==========================================================
*/

.sidebar{
    background-color: #202020;
    width: 250px;
    height: 800px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;

}

.sidebar-item{
    position: relative;
    left: 10px;
    color: #fff;
    transition: background-color 0.6s ease-in-out;
}

.sidebar-item:hover{
    color: #f39c12;
    cursor: pointer;
}

.sidebar a{
    color: #fff;
    text-decoration: none;
}

.sidebar>p{
    top: 50px;
}

.tweet{
    margin-top: 40px;
}

.personal-info{
    margin-top: 120px;
    line-height: 30px;
    position: relative;
    left: 10px;
}

.social{
    position: relative;
    left: 10px;
    margin-top: 300px;
}


/*
  ==========================================================
  Main content
  ==========================================================
*/

.main-content{
    margin-left: 260px;
}


.main-content-title{
    color: #f39c12;
    font-size: 40px;
    line-height: 25px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.main-content-title>span{
    color: #fff;
    font-size: 20px;
}

.my-intro{
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: white;
}

.introduction{
    position: relative;
    left: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.quote{
    position: relative;
    top: 50px;
    color: #f39c12;
    text-transform: uppercase;

}

.my-pic{
    float: left;
    position: relative;

    /*border-right: 20px solid transparent;*/
    /*border-bottom: 20px solid transparent;*/


}




/*
  ==========================================================
  Skills
  ==========================================================
*/


.skills{
    margin-top: 100px;
    color: white;
    display: flex;
    display-direction: row;
}

.skills-title{
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

.clear{
    clear: both;
}


.core-skills .other-skills{
    width: 400px;
}

.other-skills{
    margin-left: 100px;
}

.skill-container-html{
    width: 250px;
    background-color: #202020;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skill-container-css{
    width: 250px;
    background-color: #202020;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skill-container-javascript{
    width: 250px;
    background-color: #202020;
    height: 40px;
    border-radius: 5px;
}

.skill-percentage{
    background-color: #f39c12;
    width: 450px;



}



